body {
  margin: 0;
  font-family: 'IranSans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'IranSans';
  src: url('./assets/fonts/iransans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}