@font-face {
    font-family: "vazir";
    src: url(./assets/fonts/Yekan.eot) format("eot"),
        url(./assets/fonts/Yekan.woff) format("woff"),
        url(./assets/fonts/Yekan.ttf) format("ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    font-family: "vazir" !important;
}